<div class="span4 offset1 alec layered-paper">
		<br /> 
	<h1> 
	What up?
		<%= simple_form_for @pic do |f| %>
		<br /> 
			<%= f.input :hour, label: 'Which hour was this?' %>
			<%= f.input :emotion, label: 'What were you feeling?',placeholder: 'Pondering' %>
			<%= f.input :learned, label: 'What did you overcome?',placeholder: 'Who let the dogs out.' %>
		<br/>
			<%= f.submit :class=> 'Post'  'btn btn-info btn-large' %>
		<% end %>
	</h1>

</div>