<div class="span8 alec layered-paper">
	
	<h1> 
	What up? 
		<%= simple_form_for @pic do |f| %>
			<%= f.input :hour %>
			<%= f.input :emotion %>
			<%= f.input :learned %>
			<%= f.submit "Post" %>
		<% end %>

	</h1>

</div>